fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-groq
langchain-anthropic
langchain-openai
anthropic
openai
chromadb
pymupdf
python-docx
pandas
openpyxl
python-pptx
beautifulsoup4
requests
psycopg2-binary
pymongo
tiktoken
sentence-transformers
youtube-transcript-api